spring:
  application:
    name: auth-service

  datasource:
    url: jdbc:mysql://localhost:3306/authdb?useSSL=false&serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect

server:
  port: 8082

jwt:
  secret: ${JWT_SECRET}


#eureka:
#  client:
#    service-url:
#      defaultZone: http://localhost:8761/eureka
